{% extends 'base.html.twig' %}

{% block title %} Administration {% endblock %}

{% block content %}


    <div class="administration">

        
            <div class="sidebar">
                <div id="show">
                    <a id="showbis" href="#anchorChapters">Les Chapitres <i class="fas fa-caret-right"></i> </a>
                    <a href="#anchorDrafts">Les Brouillons <i class="fas fa-caret-right"></i></a>
                    <a href="#anchorComments">Les Commentaires <i class="fas fa-caret-right"></i> </a>
                    <a href="#anchorAuthor">L'auteur <i class="fas fa-caret-right"></i> </a>
                    <a href="#anchorPresentation">Texte d'Accueil <i class="fas fa-caret-right"></i> </a>
                    <a href="#anchorUsers">Les Utilisateurs <i class="fas fa-caret-right"></i> </a>
                </div>
            </div>
            
        

        <div class="administration_content">

            <div class="title">
                   <h1>
                        <ul class="text hidden">
                            <li>L'</li>
                            <li class="spaced">A</li>
                            <li class="ghost">d</li>
                            <li class="ghost">m</li>
                            <li class="ghost">i</li>
                            <li class="ghost">n</li>
                            <li class="ghost">i</li>
                            <li class="ghost">s</li>
                            <li class="ghost">t</li>
                            <li class="ghost">r</li>
                            <li class="ghost">a</li>
                            <li class="ghost">t</li>
                            <li class="ghost">i</li>
                            <li class="ghost">o</li>
                            <li class="ghost">n</li>
                            <li class="ghost"><i class="fas fa-feather-alt"> </i> </li>
                        </ul> 
                    </h1>           
            </div>

            <div class="administrationChapter">
                <div id="anchorChapters" class="anchor"></div>
                <div class="administrationSubtitle">
                    <h2>Les Chapitres</h2>
                </div>   

                <div class="subMenuTab addChapter">
                    <a href="../public/index.php?route=newChapter">Nouveau chapitre</a>
                </div>

                {% if (chapters | blankTable) == 0 %}
                
                        <p> Il n'y a pas de chapitre publié. </p>
                    
                    
                    {% else %}
                        <table>
                            <tr class="tableHead">
                                <td>Numéro</td>
                                <td>Titre</td>
                                <td class="chapterExtract">Contenu</td>
                                <td class="chapterDetails">Auteur</td>
                                <td class="chapterDetails">Date</td>
                                <td>Actions</td>
                            </tr>

                            {% for chapter in chapters %}
                                <tr class="tableBody">
                                    <td><a href="../public/index.php?route=chapter&chapterId={{chapter.id}}">{{chapter.chapterNumber}}</a></td>
                                    <td><a href="../public/index.php?route=chapter&chapterId={{chapter.id}}">{{chapter.title}}</a></td>
                                    <td class="chapterExtract"><a href="../public/index.php?route=chapter&chapterId={{chapter.id}}">{% autoescape 'html' %}{{ chapter.content | extract | raw}}{% endautoescape %}</a></td>
                                    <td class="chapterDetails">{{chapter.author}}</td>
                                    <td class="chapterDetails">Créé le {{chapter.createdAt("d/m/Y")}}</td>
                                    <td class="tableActions">
                                        <a href="../public/index.php?route=modifyChapter&chapterId={{chapter.id}}">Modifier <i class="fas fa-caret-right"></i></a></br>
                                        <a href="../public/index.php?route=deleteChapter&chapterId={{chapter.id}}">Supprimer  <i class="fas fa-caret-right"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}     
                                                                                                {#foreach ($chapters as $chapter)
                                                                                                                {
                                                                                                                    ?>
                                                                                                                    <tr class="tableBody">
                                                                                                                        <td><a href="../public/index.php?route=chapter&chapterId=<?= htmlspecialchars($chapter->getId());?>"><?= htmlspecialchars_decode($chapter->getChapterNumber());?></a></td>
                                                                                                                        <td><a href="../public/index.php?route=chapter&chapterId=<?= htmlspecialchars($chapter->getId());?>"><?= htmlspecialchars_decode($chapter->getTitle());?></a></td>
                                                                                                                        <td><a href="../public/index.php?route=chapter&chapterId=<?= htmlspecialchars($chapter->getId());?>"><?= substr(htmlspecialchars_decode($chapter->getContent()), 0, 350);?></a></td>
                                                                                                                        <td><?= htmlspecialchars($chapter->getAuthor());?></td>
                                                                                                                        <td>Créé le <?= htmlspecialchars($chapter->getCreatedAt());?></td>
                                                                                                                        <td class="tableActions">
                                                                                                                            <a href="../public/index.php?route=modifyChapter&chapterId=<?= $chapter->getId(); ?>">Modifier</a></br>
                                                                                                                            <a href="../public/index.php?route=deleteChapter&chapterId=<?= $chapter->getId(); ?>">Supprimer</a>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                    <?php
                                                                                                                }
                                                                                                            }
                                                                                                                ?>#}
                
                <div id="anchorDrafts" class="anchor"></div>
                <div class="administrationSubtitle">
                    <h2>Les Brouillons</h2>
                </div>


                

                    {% if (drafts | blankTable) == 0 %}
                    
                        <p> Il n'y a pas de chapitre mis en brouillon. </p>
                        
                    {% else %}
                            <table>
                                <tr class="tableHead">
                                    <td>Numéro</td>
                                    <td>Titre</td>
                                    <td class="chapterExtract">Contenu</td>
                                    <td class="chapterDetails">Auteur</td>
                                    <td class="chapterDetails">Date</td>
                                    <td>Actions</td>
                                </tr>

                                {% for draft in drafts %}
                                    <tr class="tableBody">
                                        <td><a href="../public/index.php?route=chapter&chapterId={{draft.id}}">{{draft.chapterNumber}}</a></td>
                                        <td><a href="../public/index.php?route=chapter&chapterId={{draft.id}}">{{draft.title}}</a></td>
                                        <td class="chapterExtract"><a href="../public/index.php?route=chapter&chapterId={{draft.id}}">{% autoescape 'html' %}{{ draft.content | extract | raw}}{% endautoescape %}</a></td>
                                        <td class="chapterDetails">{{draft.author}}</td>
                                        <td class="chapterDetails">Créé le {{draft.createdAt("d/m/Y")}}</td>
                                        <td class="tableActions">
                                            <a href="../public/index.php?route=publish&chapterId={{draft.id}}">Publier <i class="fas fa-caret-right"></i></a></br>
                                            <a href="../public/index.php?route=modifyChapter&chapterId={{draft.id}}">Modifier  <i class="fas fa-caret-right"></i> </a></br>
                                            <a href="../public/index.php?route=deleteChapter&chapterId={{draft.id}}">Supprimer  <i class="fas fa-caret-right"></i> </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                    {% endif %}
                    
                
            </div>



            <div class="administrationComments">
                <div id="anchorComments" class="anchor"></div>
                <div class="administrationSubtitle">
                    <h2>Les Commentaires signalés</h2>
                </div>
                        
                    {% if (comments | blankTable) == 0 %}

                        <p> Il n'y a pas de commentaires signalé. </p>
                    
                    {% else %}
                        <table>
                            <tr class="tableHead">
                                <td>Pseudo</td>
                                <td>Message</td>
                                <td>Date</td>
                                <td>Actions</td>
                            </tr>

                            {% for comment in comments %}
                                <tr class="tableBody">
                                    <td>{{comment.pseudo}}</td>
                                    <td><a href="../public/index.php?route=chapter&chapterId={{comment.chapterId}}">{{ comment.content | extract }}</a></td>
                                    <td>Créé le {{comment.createdAt("d/m/Y à H:i:s")}}</td>
                                    <td class="tableActions">
                                        <a href="../public/index.php?route=unflagComment&commentId={{comment.id}}">Désignaler le commentaire  <i class="fas fa-caret-right"></i> </a> </br>
                                        <a href="../public/index.php?route=deleteComment&commentId={{comment.id}}&chapterId={{comment.chapterId}}">Supprimer le commentaire  <i class="fas fa-caret-right"></i> </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}

                
            </div>

            <div class="administrationAuthor">
                <div id="anchorAuthor" class="anchor"></div>
                <div class="administrationSubtitle">
                        <h2>L'Auteur</h2>
                </div>

                <div class="subMenuTab">
                    <a href="../public/index.php?route=modifyAuthor">Modifier le texte</a>
                </div>
            </div>

             <div class="administrationPresentation">
                <div id="anchorPresentation" class="anchor"></div>
                <div class="administrationSubtitle">
                        <h2>Texte d'Accueil</h2>
                </div>

                <div class="subMenuTab">
                    <a href="../public/index.php?route=modifyPresentation">Modifier le texte</a>
                </div>
            </div>

            <div class="administrationUser">
                <div id="anchorUsers" class="anchor"></div>
                <div class="administrationSubtitle">
                    <h2>Les Utilisateurs</h2>
                </div>

                {% if (users | blankTable) == 0 %}

                    <p> Il n'y a pas d'utilisateur enregistré.  </p>
                
                {% else %}

                    <table>
                        <tr class="tableHead">
                            <td>Pseudo</td>
                            <td>Date</td>
                            <td>Rôle</td>
                            <td>Actions</td>
                        </tr>

                        {% for user in users %}
                            <tr class="tableBody">
                                <td>{{user.pseudo}}</td>
                                <td>Créé le {{user.createdAt("d/m/Y à H:i:s")}}</td>
                                <td>{{user.role}}</td>
                                <td class="tableActions">
                                    {% if user.role == 'admin' %}
                                        Suppression impossible   
                                    {% else %}
                                        <a href="../public/index.php?route=deleteUser&userId={{user.id}}">Supprimer  <i class="fas fa-caret-right"></i> </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %} 