{% extends 'base.html.twig' %}

{% block title %} Administration {% endblock %}

{% block content %} 

    <div class="title">
        <h1>L'Administration</h1>
    </div>

    <div class="administrationChapter">
        <div class="administrationSubtitle">
            <h2>Les Chapitres</h2>
        </div>

        <div class="addChapter">
            <a href="../public/index.php?route=newChapter">Nouveau chapitre</a>
        </div>

        <table>
            <tr class="tableHead">
                <td>Numéro</td>
                <td>Titre</td>
                <td>Contenu</td>
                <td>Auteur</td>
                <td>Date</td>
                <td>Actions</td>
            </tr>

            {#{% if count(chapters) == 0 %}
            
                    <tr class="tableBody">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                 
                
                {% else %}   #} 

                    {% for chapter in chapters %}
                        <tr class="tableBody">
                            <td><a href="../public/index.php?route=chapter&chapterId={{chapter.id}}">{{chapter.chapterNumber}}</a></td>
                            <td><a href="../public/index.php?route=chapter&chapterId={{chapter.id}}">{{chapter.title}}</a></td>
                            <td><a href="../public/index.php?route=chapter&chapterId={{chapter.id}}">{{ chapter.content | extract }}</a></td>
                            <td>{{chapter.author}}</td>
                            <td>Créé le {{chapter.createdAt}}</td>
                            <td class="tableActions">
                                <a href="../public/index.php?route=modifyChapter&chapterId={{chapter.id}}">Modifier</a></br>
                                <a href="../public/index.php?route=deleteChapter&chapterId={{chapter.id}}">Supprimer</a>
                            </td>
                        </tr>
                     {% endfor %}

                {#{% endif %}  #}           
                                                                                          {#foreach ($chapters as $chapter)
                                                                                                        {
                                                                                                            ?>
                                                                                                            <tr class="tableBody">
                                                                                                                <td><a href="../public/index.php?route=chapter&chapterId=<?= htmlspecialchars($chapter->getId());?>"><?= htmlspecialchars_decode($chapter->getChapterNumber());?></a></td>
                                                                                                                <td><a href="../public/index.php?route=chapter&chapterId=<?= htmlspecialchars($chapter->getId());?>"><?= htmlspecialchars_decode($chapter->getTitle());?></a></td>
                                                                                                                <td><a href="../public/index.php?route=chapter&chapterId=<?= htmlspecialchars($chapter->getId());?>"><?= substr(htmlspecialchars_decode($chapter->getContent()), 0, 350);?></a></td>
                                                                                                                <td><?= htmlspecialchars($chapter->getAuthor());?></td>
                                                                                                                <td>Créé le <?= htmlspecialchars($chapter->getCreatedAt());?></td>
                                                                                                                <td class="tableActions">
                                                                                                                    <a href="../public/index.php?route=modifyChapter&chapterId=<?= $chapter->getId(); ?>">Modifier</a></br>
                                                                                                                    <a href="../public/index.php?route=deleteChapter&chapterId=<?= $chapter->getId(); ?>">Supprimer</a>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <?php
                                                                                                        }
                                                                                                    }
                                                                                                        ?>#}
        </table>

        <div class="administrationSubtitle">
            <h2>Les Brouillons</h2>
        </div>


        <table>
            <tr class="tableHead">
                <td>Numéro</td>
                <td>Titre</td>
                <td>Contenu</td>
                <td>Auteur</td>
                <td>Date</td>
                <td>Actions</td>
            </tr>

            <?php
            if (count($drafts) == 0) {
                ?>
                <tr class="tableBody">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <?php
            } else {

                {% for draft in drafts %}
                    <tr class="tableBody">
                        <td><a href="../public/index.php?route=chapter&chapterId={{draft.id}}">{{draft.chapterNumber}}</a></td>
                        <td><a href="../public/index.php?route=chapter&chapterId={{draft.id}}">{{draft.title}}</a></td>
                        <td><a href="../public/index.php?route=chapter&chapterId={{draft.id}}">{{ draft.content | extract }}</a></td>
                        <td>{{draft.author}}</td>
                        <td>Créé le {{draft.createdAt}}</td>
                        <td class="tableActions">
                            <a href="../public/index.php?route=publish&chapterId={{draft.id}}">Publier</a></br>
                            <a href="../public/index.php?route=modifyChapter&chapterId={{draft.id}}">Modifier</a></br>
                            <a href="../public/index.php?route=deleteChapter&chapterId={{draft.id}}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}

            
            
        </table>
    </div>



    <div class="administrationComments">
        <div class="administrationSubtitle">
            <h2>Les Commentaires signalés</h2>
        </div>
        <table>
            <tr class="tableHead">
                <td>Pseudo</td>
                <td>Message</td>
                <td>Date</td>
                <td>Actions</td>
            </tr>

            <?php
            if (count($comments) == 0) {
                ?>
                <tr class="tableBody">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <?php
            } else {

                {% for comment in comments %}
                    <tr class="tableBody">
                        <td>{{comment.pseudo}}</td>
                        <td><a href="../public/index.php?route=chapter&chapterId={{comment.chapterId}}">{{ comment.content | extract }}</a></td>
                        <td>Créé le {{comment.createdAt}}</td>
                        <td class="tableActions">
                            <a href="../public/index.php?route=unflagComment&commentId={{comment.id}}">Désignaler le commentaire</a> </br>
                            <a href="../public/index.php?route=deleteComment&commentId={{comment.id}}&chapterId={{comment.chapterId}}">Supprimer le commentaire</a>
                        </td>
                    </tr>
                {% endfor %}

        </table>
    </div>

    <div class="administrationAuthor">
        <div class="administrationSubtitle">
                <h2>L'Auteur</h2>
        </div>

        <div class="modifyAuthor">
            <a href="../public/index.php?route=modifyAuthor">Modifier la page</a>
        </div>
    </div>

    <div class="administrationUser">
        <div class="administrationSubtitle">
            <h2>Les Utilisateurs</h2>
        </div>

        <table>
            <tr class="tableHead">
                <td>Pseudo</td>
                <td>Date</td>
                <td>Rôle</td>
                <td>Actions</td>
            </tr>

            <?php
            if (count($users) == 0) {
                ?>
                <tr class="tableBody">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <?php
            } else {

                {% for user in users %}
                    <tr class="tableBody">
                        <td>{{user.pseudo}}</td>
                        <td>Créé le : {{user.createdAt}}</td>
                        <td>{{user.role}}</td>
                        <td class="tableActions">
                            {% if user.role == 'admin' %}
                                Suppression impossible   
                            {% else %}
                                 <a href="../public/index.php?route=deleteUser&userId={{user.id}}">Supprimer</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            
            
        </table>
    </div>
{% endblock %} 