{% extends 'base.html.twig' %}

{% block title %} Les Chapitres {% endblock %}

{% block content %} 
    <div>
        <div class="title">
            <h1>
                <ul class="text hidden">
                    <div>
                        <li>L</li>
                        <li class="ghost">e</li>
                        <li class="ghost">s</li>
                    </div>
                    <div>
                        <li class="spaced">C</li>
                        <li class="ghost">h</li>
                        <li class="ghost">a</li>
                        <li class="ghost">p</li>
                        <li class="ghost">i</li>
                        <li class="ghost">t</li>
                        <li class="ghost">r</li>
                        <li class="ghost">e</li>
                        <li class="ghost">s</li>
                        <li class="ghost"><i class="fas fa-feather-alt"> </i> </li>
                    </div>
                    
                    
                </ul>
            </h1>
        </div>

        <div class="subMenu">
            {% if session.get('pseudo') %}
                <div class="subMenuTab"> <a href="../public/index.php?route=logout">Déconnexion</a></div>
                <div class="subMenuTab"> <a href="../public/index.php?route=profile">Profil</a> </div>
                
                {% if session.get('role') == 'admin' %}
                    <div class="subMenuTab"> <a href="../public/index.php?route=administration">Administration</a></div>
                {% endif %}

            {% else %}

                <div class="subMenuTab"> <a href="../public/index.php?route=register">S'inscrire</a> </div>
                <div class="subMenuTab"> <a href="../public/index.php?route=login">Se connecter</a> </div>

            {% endif %}
        </div>

        <div>   
            <section class="tiles">
                {% for chapter in chapters %}
                    <article class="style1">
                        <div class="image">
                            <img src="../public/img/book.jpg" alt="book" />
                        </div>
                        
                        <a href="../public/index.php?route=chapter&chapterId={{chapter.id}}">
                            <h2 class="chapterTitle">Chapitre {{chapter.chapterNumber}} </h2>
                            <div class="content">
                                    <h3>{{chapter.title}}</h3>
                                    <p>Ecrit par {{chapter.author}}</p>
                                    <p>Publié le {{chapter.createdAt("d/m/Y")}}</p>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </section>   
        </div>
    </div>
{% endblock %}


















