{% extends 'base.html.twig' %}

{% block title %} Les Chapitres {% endblock %}

{% block content %} 


    <div>
        <div class="title">
            <h1>Les Chapitres</h1>
        </div>

        <div class="subMenu">
            {% if session.get('pseudo') %}
                <div class="subMenuTab"> <a href="../public/index.php?route=logout">Déconnexion</a></div>
                <div class="subMenuTab"> <a href="../public/index.php?route=profile">Profil</a> </div>
                
                {#{% if session.get('role') === 'admin' %}#}
                    <div class="subMenuTab"> <a href="../public/index.php?route=administration">Administration</a></div>
                {#{% endif %}#}

            {% else %}

                <div class="subMenuTab"> <a href="../public/index.php?route=register">S'inscrire</a> </div>
                <div class="subMenuTab"> <a href="../public/index.php?route=login">Se connecter</a> </div>

            {% endif %}
        </div>

        <div>

            {% for chapter in chapters %}

                <div class="chapterContainer">
                    <div class="chapterDescription">
                        <div class= "content">
                            <a href="../public/index.php?route=chapter&chapterId={{chapter.id}}">
                                <h2>{{chapter.title}}</h2>
                                {% autoescape 'html' %} <p> {{chapter.content | raw}} </p> {% endautoescape %}
                                <p>{{chapter.author}}</p>
                                <p>Créé le {{chapter.createdAt}}</p>
                            </a>
                        </div>
                    </div>

                    {% if chapter.chapterNumber % 2 == 0 %}
                        {% set color = "chapterLinkBlue" %}
                    {% else %}
                        {% set color = "chapterLinkBrown" %}
                    {% endif %}

                    <div class={{color}}>
                        <p>Chapitre {{chapter.chapterNumber}} </p>
                    </div>
                </div>

            {% endfor %}

                                                                                                {#<?php
                                                                                                foreach ($chapters as $chapter)
                                                                                                {
                                                                                                    ?>
                                                                                                    <div class="chapterContainer">
                                                                                                        <div class="chapterDescription">
                                                                                                            <div class= "content">
                                                                                                                <a href="../public/index.php?route=chapter&chapterId=<?= htmlspecialchars($chapter->getId());?>">
                                                                                                                    <h2><?= htmlspecialchars_decode($chapter->getTitle());?></h2>
                                                                                                                    <p><?= htmlspecialchars_decode($chapter->getContent());?></p>
                                                                                                                    <p><?= htmlspecialchars($chapter->getAuthor());?></p>
                                                                                                                    <p>Créé le : <?= htmlspecialchars($chapter->getCreatedAt());?></p>
                                                                                                                </a>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                        <?php if((htmlspecialchars($chapter->getChapterNumber()) % 2) == 0) {
                                                                                                                $color = "chapterLinkBlue";
                                                                                                            } else {
                                                                                                                $color = "chapterLinkBrown";
                                                                                                            }
                                                                                                        ?> 

                                                                                                        <div class= "<?= $color ?>">
                                                                                                            <p>Chapitre <?= htmlspecialchars($chapter->getChapterNumber());?> </p>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <?php
                                                                                                }
                                                                                                ?>#}
        </div>
    </div>
{% endblock %}