{% extends 'base.html.twig' %}

{% block title %} Les Chapitres {% endblock %}

{% block content %} 
    <div>
        <div class="title">
            <h1>Les Chapitres</h1>
        </div>

        <div class="subMenu">
            {% if session.get('pseudo') %}
                <div class="subMenuTab"> <a href="../public/index.php?route=logout">Déconnexion</a></div>
                <div class="subMenuTab"> <a href="../public/index.php?route=profile">Profil</a> </div>
                
                {% if session.get('role') == 'admin' %}
                    <div class="subMenuTab"> <a href="../public/index.php?route=administration">Administration</a></div>
                {% endif %}

            {% else %}

                <div class="subMenuTab"> <a href="../public/index.php?route=register">S'inscrire</a> </div>
                <div class="subMenuTab"> <a href="../public/index.php?route=login">Se connecter</a> </div>

            {% endif %}
        </div>

        <div>
            
               
                    <section class="tiles">
                        {% for chapter in chapters %}
                            <article class="style1">
                                <div class="image">
                                    <img src="../public/img/book.jpg" alt="book" />
                                </div>
                                
                                <a href="../public/index.php?route=chapter&chapterId={{chapter.id}}">
                                    <h2>Chapitre {{chapter.chapterNumber}} </h2>
                                    <div class="content">
                                       
                                            <h2>{{chapter.title}}</h2>
                                            {% autoescape 'html' %} <p> {{chapter.content | raw}} </p> {% endautoescape %}
                                            <p>{{chapter.author}}</p>
                                            <p>Créé le {{chapter.createdAt("d/m/Y")}}</p>
                                        
                                    </div>
                                </a>
                            </article>
                        {% endfor %}
                    </section>
              
            
        </div>
    </div>
{% endblock %}


















