{% extends 'base.html.twig' %}

{% block title %} Chapitre {% endblock %}

{% block content %} 

    <div>
        <div class="title">
            <h1>Chapitre {{chapter.chapterNumber}}</h1>
        </div>

         <div class="subMenu">
            {% if session.get('pseudo') %}
                <div class="subMenuTab"> <a href="../public/index.php?route=logout">Déconnexion</a></div>
                <div class="subMenuTab"> <a href="../public/index.php?route=profile">Profil</a> </div>
                
                {% if session.get('role') == 'admin' %}
                    <div class="subMenuTab"> <a href="../public/index.php?route=administration">Administration</a></div>
                {% endif %}

            {% else %}

                <div class="subMenuTab"> <a href="../public/index.php?route=register">S'inscrire</a> </div>
                <div class="subMenuTab"> <a href="../public/index.php?route=login">Se connecter</a> </div>

            {% endif %}
        </div>
        
        <div class="singleChapter">
            <p>Chapitre {{chapter.chapterNumber}}</p>
            <h2>{{chapter.title}}</h2>
            {% autoescape 'html' %} <p> {{chapter.content | raw}} </p> {% endautoescape %}
            <p>{{chapter.author}}</p>
            <p>Créé le {{chapter.createdAt}}</p>
        </div>

        {% if session.get('role') == 'admin' %}
            <div class="actions">
                <a href="../public/index.php?route=modifyChapter&chapterId={{chapter.id}}">Modifier le chapitre</a> </br>
                <a href="../public/index.php?route=deleteChapter&chapterId={{chapter.id}}">Supprimer le chapitre</a>
            </div>
        {% endif %}

        
        <div id="commentContainer">

            {% if session.get('pseudo') %}
                <div class="addCommentContainer">
                    <h2>Ajouter un commentaire</h2>
                    <div class="addComment">
                        {{include('form_comment.html.twig')}}
                    </div>
                </div>
            {% endif %}

                                                    {#<?php if ($this->session->get('pseudo')) { ?>
                                                        <div class="addCommentContainer">
                                                            <h2>Ajouter un commentaire</h2>
                                                            <div class="addComment">
                                                                <?php include('form_comment.php'); ?>
                                                            </div>
                                                        </div>
                                                    <?php } ?>#}

            <div class="allComments">
                <h2>Commentaires</h2>
                    {% for comment in comments %}
                        <div class="singleComment">
                            <div class="comment">
                                <h4> {{comment.pseudo}} </h4>
                                <p> {{comment.content}} </p>
                                <p>Posté le {{comment.createdAt}} </p>
                            </div>

                            <div class="flagCommentContainer">
                                <div class="flagComment">
                                    {% if comment.isFlag %}
                                        <p>Ce commentaire a déjà été signalé</p>
                                    {% else  %}
                                        <p><a href="../public/index.php?route=flagComment&commentId={{comment.id}}&chapterId={{chapter.id}}">Signaler le commentaire</a></p>
                                    {% endif  %}
                                </div>
                                     
                                {% if session.get('role') == 'admin' %}
                                    <div class="flagComment">
                                        <p><a href="../public/index.php?route=deleteComment&commentId={{comment.id}}&chapterId={{chapter.id}}">Supprimer le commentaire</a></p>
                                    </div>
                                {% endif  %}
                            </div>
                        </div>
                    {% endfor %}
                                                                            {#<?php if($this->session->get('role') === 'admin') { ?>
                                                                                <div class="flagComment">
                                                                                    <p><a href="../public/index.php?route=deleteComment&commentId=<?= $comment->getId()?>&chapterId=<?= $chapter->getId(); ?>">Supprimer le commentaire</a></p>
                                                                                </div>
                                                                            <?php
                                                                            } ?>#}
                                  
                            



                                                    {#<?php
                                                    foreach ($comments as $comment)
                                                    {
                                                        ?>
                                                        <div class="singleComment">
                                                            <div class="comment">
                                                                <h4><?= htmlspecialchars($comment->getPseudo());?></h4>
                                                                <p><?= htmlspecialchars($comment->getContent());?></p>
                                                                <p>Posté le <?= htmlspecialchars($comment->getCreatedAt());?></p>
                                                            </div>

                                                            <div class="flagCommentContainer">
                                                                <div class="flagComment">
                                                                    <?php
                                                                    if($comment->isFlag()) {
                                                                        ?>
                                                                        <p>Ce commentaire a déjà été signalé</p>
                                                                
                                                                    <?php
                                                                    } else {
                                                                        ?>
                                                                        <p><a href="../public/index.php?route=flagComment&commentId=<?=$comment->getId()?>&chapterId=<?= $chapter->getId(); ?>">Signaler le commentaire</a></p>
                                                                        <?php
                                                                    }
                                                                    ?>
                                                                </div>
                                                                
                                                                <?php if($this->session->get('role') === 'admin') { ?>
                                                                    <div class="flagComment">
                                                                        <p><a href="../public/index.php?route=deleteComment&commentId=<?= $comment->getId()?>&chapterId=<?= $chapter->getId(); ?>">Supprimer le commentaire</a></p>
                                                                    </div>
                                                                <?php
                                                                } ?>
                                                                
                                                            </div>
                                                        </div>
                                                            <?php
                                                    }
                                                    ?>#}
            </div>       
        </div>
    </div>
{% endblock %} 